In [29]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import matplotlib.pyplot as plt
import pickle
from data_handler import import_dataset

In [30]:
X, y = import_dataset('pgaTourData.csv', split_train_test=False, numpy_format=False)
X = X[['Average Score', 'Average SG Total', 'Points']]

X

      Average Score  Average SG Total    Points
0         -1.869468          1.446323  0.523357
1         -0.236035          0.272547  0.828258
2         -0.702730          0.757305  0.859190
3         -1.299699          1.141371  0.362069
4          0.164808         -0.123027 -0.464257
...             ...               ...       ...
1673      -1.369846          1.227679  2.204730
1674       1.108219         -1.634839 -1.180111
1675       0.043124         -0.078435 -0.170403
1676       1.819715         -1.788753 -1.080687
1677       1.373062         -1.482363 -1.091734

[1674 rows x 3 columns]

In [31]:
scaler = MinMaxScaler()
scaler.fit(X)


file = open('minMaxScaler.pkl', 'wb')

pickle.dump(scaler, file)

# close the file
file.close()

In [32]:
scaler = StandardScaler()
scaler.fit(X)


file = open('standardScaler.pkl', 'wb')

pickle.dump(scaler, file)

# close the file
file.close()